<div class="popover_content">
    <form role="form" style="display: block;" [formGroup]="ErrorFlowForm" novalidate>
        <ul>
            <li>
                <!-- <p class="lab_p">步骤编号：</p>
            <input type="text" class="number" formControlName="err_step_no"> -->
                <div class="left_det">
                    <p class="lab_p">名称：</p>
                </div>
                <div class="right_det required-field-block">
                    <input type="text" class="form-control" [ngStyle]="{border: ErrorFlowForm.get('err_step_name').errors && (ErrorFlowForm.get('err_step_name').dirty || ErrorFlowForm.get('err_step_name').touched) ? '2px solid red' : '1px solid #999'}" formControlName="err_step_name">
                    <div *ngIf="ErrorFlowForm.get('err_step_name').errors && (ErrorFlowForm.get('err_step_name').dirty || ErrorFlowForm.get('err_step_name').touched)">
                        <p [hidden]="!ErrorFlowForm.get('err_step_name').errors.required" class="invalid_field">步骤名称不能为空</p>
                    </div>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
                <!-- <div class="left_det">
                    <p class="lab_p">操作结果：</p>
                </div> -->
                <!-- <select class="number" formControlName="op_result">
                <option value="成功">成功</option>
                <option value="失败">失败</option>
            </select> -->

                <!-- <div class="right_det required-field-block">
                    <input type="text" class="form-control" [ngStyle]="{border: ErrorFlowForm.get('op_result').errors && (ErrorFlowForm.get('op_result').dirty || ErrorFlowForm.get('op_result').touched) ? '2px solid red' : '1px solid #999'}" formControlName="op_result">
                    <div *ngIf="ErrorFlowForm.get('op_result').errors && (ErrorFlowForm.get('op_result').dirty || ErrorFlowForm.get('op_result').touched)">
                        <p [hidden]="!ErrorFlowForm.get('op_result').errors.required" class="invalid_field">操作结果不能为空</p>
                    </div>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div> -->
            </li>
            <li>
                <div class="left_det">
                    <p>步骤详情：</p>
                </div>
                <textarea type="text" class="form-control area this_txt" style="width: 550px;" rows="5" formControlName="err_step_desc"></textarea>
            </li>
        </ul>
        <div class="clear_both "></div>
        <nav>
            <div class="iconing_alert_btn">
                <button class="iconing_btn_ok" (click)="err_post()">保 存</button>
                <button *ngIf="error_step" class="iconing_btn_ok" style='background: #d9534f' (click)="err_del()">删 除</button>
                <button class="iconing_btn_cancel" (click)="close()">关 闭</button>
            </div>
        </nav>
    </form>
</div>