<div style="max-width: 1200px">
    <div class="file-box" style="    margin-left: 28px;">
        <form>
            <input type='text' class='form-control import_txt' style="display: inline-block;padding:0;" [value]="filePath" />
            <input type='button' class='form-control import_btn' style="display: inline-block;padding:0;" value='浏览...' />
            <input type="file" class="file" style="display: inline-block;padding:0;" size="28" (change)="onImport($event)" />
            <input type="button" class="form-control import_btn" value="上传 " style="display: inline-block;padding:0;" (click)="upload() " />
        </form>
    </div>
    <div class="left_d " *ngIf="tableConfig.data.length>0" style="max-height: 800px; overflow-y: scroll; ">
        <datatable [tableConfig]='tableConfig'></datatable>
    </div>
</div>