<div class="popover_content left_d">
    <fieldset form='true'>
        <legend>用户信息修改</legend>
        <form style="display: block; height: 50px;" [formGroup]="mappingConfigForm" novalidate>
            <ul>
                <li>
                    <div class="left_det" style="width: 100px; margin-left:30px;">
                        <p>姓 名:</p>
                    </div>
                    <div class="right_det">
                        <input type="text" formControlName="user_name">
                    </div>
                    <div class="left_det" style="width: 100px; margin-left:30px;">
                        <p>角 色:</p>
                    </div>
                    <div class="right_det">
                        <select formControlName="is_admin">
			            <option value=''>请选择</option>
          	            <option *ngFor="let role of roles" [value]="role.id">{{role.value}}</option>
      		        </select>
                    </div>
                </li>
                <li>
                    <div class="left_det" style="width: 100px; margin-left:30px;">
                        <p>用户描述:</p>
                    </div>
                    <!-- <div class="right_det">
                        <textarea name="" formControlName="memo"></textarea>
                    </div> -->
                    <textarea style="width: 80%; height:50px;" formControlName="memo"></textarea>
                </li>
            </ul>
        </form>
    </fieldset>
    <esb-moverows-datatable [config]='tableConfig' (selectedData)='setSelectedData($event)'></esb-moverows-datatable>
    <div class="clear_both"></div>
</div>
<nav>
    <div class="iconing_alert_btn">
        <button class="iconing_btn_ok" (click)="user_post()">保 存</button>
        <button class="iconing_btn_cancel" (click)="close()">关 闭</button>
    </div>
</nav>