<div class="left_d" style="height:100%;width:100%">
    <div class="div_block">
        <esb-bar-chart [barChatData]="svcErrors"></esb-bar-chart>
        <p style="display: inline-block; border-bottom: 1px dashed #000;margin-left:14.8%;width:67%"></p>
        <esb-line-chart [lineChartData]="selectedTrending"></esb-line-chart>
        <span class="left_det" style="margin-left: 15%;width: 80%;line-height: 25px;">
        <label style='float: left;'>切换服务：</label>
        <!-- <select style="border: 1px solid #999;float: left;" [(ngModel)]="trendingSvcNo" (change)="changeTrending()">
            <option *ngFor="let svc of svcErrors" [value]="svc.svc_no">{{svc.svc_name}}</option>
          </select> -->
        <div style="border: 1px solid #999;float: left;width: 40%;height: 25px;">
                    <combo-box [inputClass]="'input_combo'" 
                               [triggerIconClass]="'combo_drop_trigger'" 
                               [localFilter]='true' 
                               [localFilterCaseSensitive]='false'
                               [listData]="svcErrors" 
                               [displayField]="'svc_name'"  
                               [valueField]="'svc_no'"
                               [currVal]="trendingSvcName"
                               (onSelect)="setTrendingSvcNo($event)"
                               (onBlur)="setTrendingSvcNo($event)"
                               >
                    </combo-box>
         </div>
    </span>
        <p style="display: inline-block; border-bottom: 1px dashed #000;margin-left:14.8%;width:67%"></p>
        <span class="left_det" style="margin-left: 15%;margin-top: 10px;width: 80%;line-height: 25px;">
        <label style='float: left;margin:10px;'><input type="radio" [(ngModel)]="showType" value="list">列表</label>
        <label style='float: left;margin:10px;'><input type="radio" [(ngModel)]="showType" value="flat">平铺</label>
        <!-- <select style="border: 1px solid #999;float: left;" [(ngModel)]="showType">
            <option value="list"></option>
            <option value="flat">平铺</option>
      	</select> -->
    </span>
    </div>
    <div *ngIf="showType=='list'" style="margin-left: 14.8%;width: 67%;">
        <datatable [tableConfig]='tableConfig' (selectedItems)="getSelectedItems($event)"></datatable>
    </div>
    <esb-services-info *ngIf="showType=='flat'" [svcsData]="svcErrors"></esb-services-info>
    <!---->
</div>