<div>
    <div class="tab_top btn_time">
        <input style="width: 250px;margin-bottom:5px;margin-left:0;" placeholder="{{config.searchPlaceholder}}" type="text" class="form-control sys_name serc" [(ngModel)]='searchValue' (keypress)="search($event)" (change)="search($event)">
        <button class="btn btn-sm btn-default b_wra2" style="float: left; margin-left: 5px;margin-top: 10px" (click)="search()">查询</button>
        <div class="clear_both"></div>
    </div>
    <div style="max-height:400px;">
        <div style="float: left;height:400px;width:46%;">
            {{config.beSelectedTableTitle}}
            <div style="overflow-y: scroll;max-height: 400px;">
                <datatable [tableConfig]='config.beSeletedDatatable' (selectedItems)="getLeftSelectedItems($event)"></datatable>
            </div>

        </div>
        <div class="iconing_alert_btn" style="float: left;height:400px;margin: 1%;width:6%;">
            <button class="iconing_btn_ok" style="margin-top: 200%;width: 100%;" (click)="addSvc()">添加</button>
            <button class="iconing_btn_ok" style="margin-top: 5px;width: 100%;" (click)="removeSvc()">移除</button>
        </div>
        <div style="float: left;height:400px;width:46%;">
            {{config.selectedTableTitle}}
            <div style="overflow-y: scroll;max-height: 400px;">
                <datatable [tableConfig]='config.seletedDatatable' (selectedItems)="getRightSelectedItems($event)"></datatable>
            </div>
        </div>
    </div>
</div>