<div class="popover_content">
    <form [formGroup]="serviceConfigForm" novalidate>
        <ul>
            <li [hidden]="persons">
                <div class="left_det">
                    <p>服务类别:</p>
                </div>
                <div class="right_det required-field-block">
                    <select class="form-control" formControlName="svc_category" [ngStyle]="{border: serviceConfigForm.get('svc_category').errors && (serviceConfigForm.get('svc_category').dirty || serviceConfigForm.get('svc_category').touched) ? '2px solid red' : '1px solid #999'}"
                        (change)="setSvcNo()">
						<option value=''>请选择</option>
          				<option *ngFor="let category of svc_category" [value]="category.id">{{category.value}}</option>
                    </select>
                    <div *ngIf="serviceConfigForm.get('svc_category').errors && (serviceConfigForm.get('svc_category').dirty || serviceConfigForm.get('svc_category').touched)">
                        <p [hidden]="!serviceConfigForm.get('svc_category').errors.required" class="invalid_field">服务类别不能为空</p>
                    </div>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
                <!-- <input class="form-control" style="height: 15px;width: 15px;display: inline-block;margin:0;" type="checkbox" formControlName="svc_category" (change)="setSvcNo()"> -->
            </li>
            <li>
                <div class="left_det">
                    <p>服务编号:</p>
                </div>
                <div class="right_det required-field-block">
                    <input class="form-control" type="text" formControlName="svc_no" (change)="setServiceName()" disabled>
                    <!-- <input class="form-control" type="text" [ngStyle]="{border: serviceConfigForm.get('svc_no').errors && (serviceConfigForm.get('svc_no').dirty || serviceConfigForm.get('svc_no').touched) ? '2px solid red' : '1px solid #999'}" formControlName="svc_no" (change)="setServiceName()"
                        disabled>
                    <div *ngIf="serviceConfigForm.get('svc_no').errors && (serviceConfigForm.get('svc_no').dirty || serviceConfigForm.get('svc_no').touched)">
                        <p [hidden]="!serviceConfigForm.get('svc_no').errors.required" class="invalid_field">服务编号不能为空</p>
                    </div>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div> -->
                </div>
                <div class="left_det">
                    <p>项目名称:</p>
                </div>
                <div class="right_det required-field-block">
                    <input class="form-control" type="text" [ngStyle]="{border: serviceConfigForm.get('project_name').errors && (serviceConfigForm.get('project_name').dirty || serviceConfigForm.get('project_name').touched) ? '2px solid red' : '1px solid #999'}" formControlName="project_name"
                        (change)="setServiceName()">
                    <div *ngIf="serviceConfigForm.get('project_name').errors && (serviceConfigForm.get('project_name').dirty || serviceConfigForm.get('project_name').touched)">
                        <p [hidden]="!serviceConfigForm.get('project_name').errors.required" class="invalid_field">项目名称不能为空</p>
                    </div>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
                <div class="left_det">
                    <p>服务名:</p>
                </div>
                <div class="right_det">
                    <input class="form-control" type="text" formControlName="svc_name" disabled>
                </div>
            </li>
            <li>
                <div class="left_det">
                    <p>服务状态:</p>
                </div>
                <div class="right_det required-field-block">
                    <select class="form-control" formControlName="svc_state" [ngStyle]="{border: serviceConfigForm.get('svc_state').errors && (serviceConfigForm.get('svc_state').dirty || serviceConfigForm.get('svc_state').touched) ? '2px solid red' : '1px solid #999'}">
						<option value=''>请选择</option>
          				<option *ngFor="let state of svc_states" [value]="state.id">{{state.value}}</option>
                    </select>
                    <div *ngIf="serviceConfigForm.get('svc_state').errors && (serviceConfigForm.get('svc_state').dirty || serviceConfigForm.get('svc_state').touched)">
                        <p [hidden]="!serviceConfigForm.get('svc_state').errors.required" class="invalid_field">服务状态不能为空</p>
                    </div>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
                <div class="left_det">
                    <p>服务类型:</p>
                </div>
                <div class="right_det required-field-block">
                    <select class="form-control" formControlName="svc_type" [ngStyle]="{border: serviceConfigForm.get('svc_type').errors && (serviceConfigForm.get('svc_type').dirty || serviceConfigForm.get('svc_type').touched) ? '2px solid red' : '1px solid #999'}">
						<option value=''>请选择</option>
          				<option *ngFor="let type of svc_types" [value]="type.id">{{type.value}}</option>
                    </select>
                    <div *ngIf="serviceConfigForm.get('svc_type').errors && (serviceConfigForm.get('svc_type').dirty || serviceConfigForm.get('svc_type').touched)">
                        <p [hidden]="!serviceConfigForm.get('svc_type').errors.required" class="invalid_field">服务类型不能为空</p>
                    </div>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="left_det">
                    <p>项目描述:</p>
                </div>
                <div class="right_det">
                    <textarea style="margin-bottom: 10%;" class="form-control" formControlName="svc_desc"></textarea>
                </div>
            </li>
            <li>
                <div class="left_det">
                    <p>目标协议:</p>
                </div>
                <div class="right_det required-field-block">
                    <select class="form-control" formControlName="dest_protocol" [ngStyle]="{border: serviceConfigForm.get('dest_protocol').errors && (serviceConfigForm.get('dest_protocol').dirty || serviceConfigForm.get('dest_protocol').touched) ? '2px solid red' : '1px solid #999'}">
						<option value=''>请选择</option>
          				<option *ngFor="let protocol of protocols" [value]="protocol.id">{{protocol.value}}</option>
                      </select>
                    <div *ngIf="serviceConfigForm.get('dest_protocol').errors && (serviceConfigForm.get('dest_protocol').dirty || serviceConfigForm.get('dest_protocol').touched)">
                        <p [hidden]="!serviceConfigForm.get('dest_protocol').errors.required" class="invalid_field">目标协议不能为空</p>
                    </div>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
                <div class="left_det">
                    <p>目标系统:</p>
                </div>
                <div class="right_det required-field-block">
                    <combo-box [inputClass]="getDestComboClass" [triggerIconClass]="'combo_drop_trigger'" [localFilter]='true' [localFilterCaseSensitive]='false' [listData]="sysList" [displayField]="'sys_name'" [valueField]="'sys_name'" [currVal]="sysCache.dest" (onSelect)="setDestSys($event)"
                        (onBlur)="setDestSys($event)"></combo-box>
                    <div *ngIf="serviceConfigForm.get('dest_sys').errors && (serviceConfigForm.get('dest_sys').dirty || serviceConfigForm.get('dest_sys').touched)">
                        <p [hidden]="!serviceConfigForm.get('dest_sys').errors.required" class="invalid_field">目标系统不能为空</p>
                    </div>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="left_det">
                    <p>源协议:</p>
                </div>
                <div class="right_det required-field-block">
                    <select class="form-control" formControlName="src_protocol" [ngStyle]="{border: serviceConfigForm.get('src_protocol').errors && (serviceConfigForm.get('src_protocol').dirty || serviceConfigForm.get('src_protocol').touched) ? '2px solid red' : '1px solid #999'}">
						<option value=''>请选择</option>
          				<option *ngFor="let protocol of protocols" [value]="protocol.id">{{protocol.value}}</option>
                      </select>
                    <div *ngIf="serviceConfigForm.get('src_protocol').errors && (serviceConfigForm.get('src_protocol').dirty || serviceConfigForm.get('src_protocol').touched)">
                        <p [hidden]="!serviceConfigForm.get('src_protocol').errors.required" class="invalid_field">源协议不能为空</p>
                    </div>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
                <div class="left_det">
                    <p>源系统:</p>
                </div>
                <div class="right_det required-field-block">
                    <combo-box [inputClass]="getSrcComboClass" [triggerIconClass]="'combo_drop_trigger'" [localFilter]='true' [localFilterCaseSensitive]='false' [listData]="sysList" [displayField]="'sys_name'" [valueField]="'sys_name'" [currVal]="sysCache.src" (onSelect)="setSrcSys($event)"
                        (onBlur)="setSrcSys($event)"></combo-box>
                    <div *ngIf="serviceConfigForm.get('src_sys').errors && (serviceConfigForm.get('src_sys').dirty || serviceConfigForm.get('src_sys').touched)">
                        <p [hidden]="!serviceConfigForm.get('src_sys').errors.required" class="invalid_field">源系统不能为空</p>
                    </div>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
            </li>
            <li>
                <!-- <div class="left_det">
                    <p>内部编号:</p>
                </div>
                <div class="right_det required-field-block">
                    <input class="form-control" type="text" formControlName="inner_code" [ngStyle]="{border: serviceConfigForm.get('inner_code').errors && (serviceConfigForm.get('inner_code').dirty || serviceConfigForm.get('inner_code').touched) ? '2px solid red' : '1px solid #999'}">
                    <div *ngIf="serviceConfigForm.get('inner_code').errors && (serviceConfigForm.get('inner_code').dirty || serviceConfigForm.get('inner_code').touched)">
                        <p [hidden]="!serviceConfigForm.get('inner_code').errors.required" class="invalid_field">内部编号不能为空</p>
                    </div>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div> -->
                <div class="left_det">
                    <p>服务模式:</p>
                </div>
                <div class="right_det required-field-block">
                    <select class="form-control" formControlName="pattern" [ngStyle]="{border: serviceConfigForm.get('pattern').errors && (serviceConfigForm.get('pattern').dirty || serviceConfigForm.get('pattern').touched) ? '2px solid red' : '1px solid #999'}">
						<option value=''>请选择</option>
          				<option *ngFor="let pattern of patterns" [value]="pattern.id">{{pattern.value}}</option>
                      </select>
                    <div *ngIf="serviceConfigForm.get('pattern').errors && (serviceConfigForm.get('pattern').dirty || serviceConfigForm.get('pattern').touched)">
                        <p [hidden]="!serviceConfigForm.get('pattern').errors.required" class="invalid_field">服务模式不能为空</p>
                    </div>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
                <div class="left_det">
                    <p>日志1:</p>
                </div>
                <div class="right_det required-field-block">
                    <select class="form-control" formControlName="log1" [ngStyle]="{border: serviceConfigForm.get('log1').errors && (serviceConfigForm.get('log1').dirty || serviceConfigForm.get('log1').touched) ? '2px solid red' : '1px solid #999'}">
						<option value=''>请选择</option>
          				<option *ngFor="let bool of isEnable" [value]="bool.id">{{bool.value}}</option>
                      </select>
                    <div *ngIf="serviceConfigForm.get('log1').errors && (serviceConfigForm.get('log1').dirty || serviceConfigForm.get('log1').touched)">
                        <p [hidden]="!serviceConfigForm.get('log1').errors.required" class="invalid_field">日志1不能为空</p>
                    </div>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
                <div class="left_det">
                    <p>日志2:</p>
                </div>
                <div class="right_det required-field-block">
                    <select class="form-control" formControlName="log2" [ngStyle]="{border: serviceConfigForm.get('log2').errors && (serviceConfigForm.get('log2').dirty || serviceConfigForm.get('log2').touched) ? '2px solid red' : '1px solid #999'}">
						<option value=''>请选择</option>
          				<option *ngFor="let bool of isEnable" [value]="bool.id">{{bool.value}}</option>
                      </select>
                    <div *ngIf="serviceConfigForm.get('log2').errors && (serviceConfigForm.get('log2').dirty || serviceConfigForm.get('log2').touched)">
                        <p [hidden]="!serviceConfigForm.get('log2').errors.required" class="invalid_field">日志2不能为空</p>
                    </div>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="left_det">
                    <p>日志3:</p>
                </div>
                <div class="right_det required-field-block">
                    <select class="form-control" formControlName="log3" [ngStyle]="{border: serviceConfigForm.get('log3').errors && (serviceConfigForm.get('log3').dirty || serviceConfigForm.get('log3').touched) ? '2px solid red' : '1px solid #999'}">
						<option value=''>请选择</option>
          				<option *ngFor="let bool of isEnable" [value]="bool.id">{{bool.value}}</option>
                      </select>
                    <div *ngIf="serviceConfigForm.get('log3').errors && (serviceConfigForm.get('log3').dirty || serviceConfigForm.get('log3').touched)">
                        <p [hidden]="!serviceConfigForm.get('log3').errors.required" class="invalid_field">日志3不能为空</p>
                    </div>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
                <div class="left_det">
                    <p>日志4:</p>
                </div>
                <div class="right_det required-field-block">
                    <select class="form-control" formControlName="log4" [ngStyle]="{border: serviceConfigForm.get('log4').errors && (serviceConfigForm.get('log4').dirty || serviceConfigForm.get('log4').touched) ? '2px solid red' : '1px solid #999'}">
						<option value=''>请选择</option>
          				<option *ngFor="let bool of isEnable" [value]="bool.id">{{bool.value}}</option>
                      </select>
                    <div *ngIf="serviceConfigForm.get('log4').errors && (serviceConfigForm.get('log4').dirty || serviceConfigForm.get('log4').touched)">
                        <p [hidden]="!serviceConfigForm.get('log4').errors.required" class="invalid_field">日志4不能为空</p>
                    </div>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
                <div class="left_det">
                    <p>ESB标识:</p>
                </div>
                <div class="right_det required-field-block">
                    <input class="form-control" type="text" formControlName="esb_id" [ngStyle]="{border: serviceConfigForm.get('esb_id').errors && (serviceConfigForm.get('esb_id').dirty || serviceConfigForm.get('esb_id').touched) ? '2px solid red' : '1px solid #999'}">
                    <div *ngIf="serviceConfigForm.get('esb_id').errors && (serviceConfigForm.get('esb_id').dirty || serviceConfigForm.get('esb_id').touched)">
                        <p [hidden]="!serviceConfigForm.get('esb_id').errors.required" class="invalid_field">ESB标识不能为空</p>
                    </div>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="left_det">
                    <p>日志级别:</p>
                </div>
                <div class="right_det required-field-block">
                    <select class="form-control" formControlName="event_level" [ngStyle]="{border: serviceConfigForm.get('event_level').errors && (serviceConfigForm.get('event_level').dirty || serviceConfigForm.get('event_level').touched) ? '2px solid red' : '1px solid #999'}">
						<option value=''>请选择</option>
          				<option *ngFor="let level of event_levels" [value]="level.id">{{level.value}}</option>
                      </select>
                    <div *ngIf="serviceConfigForm.get('event_level').errors && (serviceConfigForm.get('event_level').dirty || serviceConfigForm.get('event_level').touched)">
                        <p [hidden]="!serviceConfigForm.get('event_level').errors.required" class="invalid_field">日志级别不能为空</p>
                    </div>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
                <!-- <div class="left_det">
                    <p>日志数量:</p>
                </div>
                <div class="right_det">
                    <input class="form-control" type="text" formControlName="log_cnt">
                </div> -->
            </li>
        </ul>
        <div class="clear_both"></div>
        <nav>
            <div class="iconing_alert_btn">
                <button class="iconing_btn_ok" (click)="esbconfigs_post()">保 存</button>
                <button class="iconing_btn_cancel" (click)="close()">关 闭</button>
            </div>
        </nav>
    </form>
</div>