<div class="left_center" style="max-width: 1200px;">
    <div class="left_d" style="width:100%">
        <div class="div_block">
            <span style="display: inline-block;line-height: 20px;width: 800px;" *ngIf="!shareSuccess">
                <input placeholder="请输入分享描述。" type="text" class="form-control"
                   [(ngModel)]="share_desc"
                   style="width: 70%;float: left;height:30px;margin:5px;">
                <button (click)="share()" style="margin: 5px;float: left;" class="btn btn-sm btn-danger b_wra">分享</button>
            </span>
            <span>
                <p style="margin-bottom:5px; color:crimson;">
                {{shareSuccessText}}
                </p>
            </span>
            <span *ngIf='shareSuccess' style="line-height: 20px;width: 800px;display: block;">
                <input id="sharing_url" type='text' readonly class="form-control" style="width: 70%; float: left;height: 31px;" value="{{shareLink}}">
                <button id="copy_botton" 
                    style="margin-left:2px; float: left; height: 31px;" 
                    type="button" 
                    class="btn btn-default" 
                    (click)='copyToClipBoard()'
                    (mouseleave)='destoryTooltip()'
                    data-toggle="tooltip" data-placement="bottom" title="复制到剪贴板">{{bottonText}}
                </button>
            </span>
        </div>
        <div *ngIf='tokens&&tokens.length>0' style="width: 100%;display: inline-block;">
            历史分享：
            <datatable [tableConfig]='tableConfig'></datatable>
        </div>
    </div>
</div>