<div class="left_d">
    <div class="btn_time" style="width:80%;margin: 0 auto;">
        <button class="btn btn-sm btn-default b_wra3" (click)="share()">分享</button>
    </div>
    <div class="center" id="service_control" style="margin-top:30px;width:80%;">
        <span>
        <p class="text_p">服务名：</p>
        <label class="text">{{data2.service_name}}</label>
        <p class="text_p">故障类型：</p>
        <label class="text">{{data2.err_type_code}}</label>
    </span>
        <span>
        <p class="text_p">出错时间：</p>
        <label class="text">{{data2.last_upd_ts | formatdate:'toTime'}}</label>
        <p class="text_p">故障严重性：</p>
        <label class="text">
            {{data2.err_level | lookup: 'EVENT_LEVELS'}}
        </label>
    </span>
        <span>
        <p class="text_p">服务ID：</p>
        <label class="text">{{data2.svc_id}}</label>
        <p class="text_p">服务描述：</p>
        <label class="text">{{data2.svc_desc}}</label>
    </span>
        <span>
        <p class="text_p">源系统：</p>
        <label class="text">{{data2.src_sys}}</label>
        <p class="text_p">目标系统：</p>
        <label class="text">{{data2.dest_sys}}</label>
    </span>
        <span>
        <p class="text_p">故障原因：</p>
        <label style="background-color: white;word-break:break-word; height: 77px;" class="form-control tx_area">{{data2.err_reason||'N/A'}}</label>
        <p class="text_p">故障信息：</p>
        <label style="background-color: white;word-break:break-word; height: 77px;" class="form-control tx_area">{{data2.err_msg||'N/A'}}</label>
        </span>
        <span>
            <p class="tit_p">交易日志详细记录<button *ngIf='resendable && hasReplayEntry' style='margin-bottom: 5px;color: #fff;background-color:#d43f3a;' class="btn btn-default btn-sm re_btn" (click)="reBtn()">重发</button></p>
    </span>
        <div class="esb_box">
            <div class="tab_content">
                <flex-datatable [config]='tableConfig' [tableData]='data3'></flex-datatable>
            </div>
            <div class="clear_both"></div>
        </div>
        <div class="esb_box" style="margin-top: 40px;border-top: 1px dashed #ccc;">
            <div>
                <p class="box_left">源系统联系人({{src.sys_no}}/{{src.sys_name}})：</p>
            </div>
            <datatable [tableConfig]='srcContactTableConfig'></datatable>
            <div class="clear_both"></div>
        </div>
        <div class="esb_box" style="margin-top: 40px;border-top: 1px dashed #ccc;">
            <div>
                <p class="box_left">目标系统联系人({{dest.sys_no}}/{{dest.sys_name}})：</p>
            </div>
            <datatable [tableConfig]='destContactTableConfig'></datatable>
            <div class="clear_both"></div>
        </div>
        <p class="tit_p" style="border-top: 1px dashed #ccc;">建议处理流程</p>
        <div class="breadcrumb flat" style="width:100%;">
            <a *ngFor="let step of errorflows; index as i" (click)="copy_post(step)" style="width: 16.6%;margin-top: 5px;" title="{{step.err_step_desc}}" [ngClass]="{'crumb-cell-oringe': step.err_step_no==998, 'crumb-cell-red': step.err_step_no==999, 'crumb-cell-blue': (step.err_step_no!=999&&step.err_step_no!=998)}">
                <div style="float:left;" class='step-no' *ngIf="step.err_step_no!=999&&step.err_step_no!=998">{{i+1}}</div>
                <div style="float:left; margin-left:35px;text-align: center;">
                    <p style="line-height: 50px;">{{step.err_step_name}}</p>
                </div>
            </a>
        </div>




        <p class="tit_p">实际处理流程
            <button class="btn_add btn btn-default btn-xs" style="margin-right:0;border: 1px solid #999;color: #fff; background-color: #d9534f; border-color: #d9534f;" (click)="err_end()">结束处理流程</button>
            <button class="btn_add btn btn-default btn-xs" style="margin-right:10px;border: 1px solid #999;color: #fff; background-color: #eea236; border-color: #eea236;" (click)="err_add()">添加实际处理步骤</button>

        </p>
        <div class="breadcrumb flat" style="width:100%;">
            <a *ngFor="let data4 of err_data4; index as i" style="width: 16.6%;margin-top: 5px;" (click)="err_edit(data4, i)" title="{{data4.err_step_desc}}" [ngClass]="{'crumb-cell-oringe': data4.err_step_no==998, 'crumb-cell-red': data4.err_step_no==999, 'crumb-cell-blue': (data4.err_step_no!=999&&data4.err_step_no!=998)}">
                <!-- [ngStyle]="{background: data4.err_step_no==999?'#d9534f':(data4.err_step_name=='已修复'?'#33cc00':(data4.err_step_name=='已忽略'?'##eea236':'#205dbf'))}" -->
                <div style="float:left;" class='step-no' *ngIf="data4.err_step_no!=999&&data4.err_step_no!=998">{{i+1}}</div>
                <div style="float:left; margin-left:35px;text-align: center;">
                    <p style="line-height: 25px;">{{data4.err_step_name}}</p>
                    <p style="line-height: 25px;">{{data4.op_ts | formatdate:'toTime'}}</p>
                </div>
            </a>
        </div>

        <div class="clear_both" style="margin-bottom: 35px"></div>
    </div>
</div>