<div class="content_tab">
    <div class="system_tab">
        <div class="tob_header">
            <div class="left_tab">
                <i class="icon_stab"></i>
                <p>我的分享</p>
            </div>
            <div class="right_tab">
                <div style="float: right" (click)="refreshData()">
                    <ul class="esbconfigs_resh">
                        <li class="resh"></li>
                        <li style="margin-left: 0px;width: 35px;font-size: 16px; line-height: 13px;">刷新</li>
                    </ul>
                </div>
            </div>
            <div class="clear_both"></div>
        </div>
        <div class="left_d tab">
            <!-- <div class="tab_top btn_time">
                <input placeholder="请输入分享ID" type="text" class="sys_name serc" [(ngModel)]='shareId' (keypress)='search($event)'>
                <button class="btn btn-sm btn-default b_wra2" style="float: left; margin-left: 5px;margin-top: 10px" (click)="search()">查询</button>
                <div class="clear_both"></div>
            </div> -->
            <div class="tab_content">
                <datatable [tableConfig]='tableConfig'></datatable>
                <esb-pagination [totalRows]="rowsCount" (outputPageNow)="getPageNow($event)" (outputPageTol)="getPageTol($event)"></esb-pagination>
            </div>
            <div class="clear_both"></div>
        </div>
    </div>
</div>