<div class="content_tab">
    <div class="system_tab">
        <div class="tob_header">
            <div class="left_tab">
                <i class="icon_stab"></i>
                <p>我的分享</p>
            </div>
            <div class="right_tab">
                <div style="float: right" (click)="refreshData()">
                    <ul class="esbconfigs_resh">
                        <li class="resh"></li>
                        <li style="margin-left: 0px;width: 35px;font-size: 16px; line-height: 13px;">刷新</li>
                    </ul>
                </div>
            </div>
            <div class="clear_both"></div>
        </div>
        <div class="left_d tab">
            <div class="tab_content">
                <!-- <datatable [tableConfig]='tableConfig'></datatable>
                <esb-pagination [totalRows]="rowsCount" (outputPageNow)="getPageNow($event)" (outputPageTol)="getPageTol($event)"></esb-pagination> -->
                <flex-datatable [config]='tableConfig' [tableData]='tokens'></flex-datatable>
            </div>
            <div class="clear_both"></div>
        </div>
    </div>
</div>