<div class="center_plan" id="service_control">
    <div class="left_center">
        <div class="left_d">
            <span class="left_det" style="width: 100%;line-height: 25px;">
                <label class="label_text">切换服务：</label>
                <!-- <select class="input_text" 
                        [(ngModel)]="params.svcid" 
                        (change)="changeParams()">
                    <option *ngFor="let svc of svcErrors" [value]="svc.svcid">{{svc.svc_name}}</option>
                  </select> -->
                <div class="input_text" style="width: 31%">
                    <combo-box [inputClass]="'input_combo'" 
                               [triggerIconClass]="'combo_drop_trigger'" 
                               [localFilter]='true' 
                               [localFilterCaseSensitive]='false'
                               [listData]="svcErrors" 
                               [displayField]="'svc_name'"  
                               [valueField]="'svcid'"
                               [currVal]="getSvcNameById"
                               (onSelect)="setParamsSvcid($event)"
                               (onBlur)="setParamsSvcid($event)"
                               ></combo-box>
                </div>
                
                <label class="label_text">交易代码：</label>
                <select class="input_text"
                        [(ngModel)]="params.trancode" 
                        (change)="changeParams()">
                    <option value=''>请选择</option>
                    <option *ngFor="let tran of trancode" [value]="tran.id">{{tran.id}}</option>
      	        </select>
            </span>
            <span class="left_det" style="width: 100%;line-height: 25px;">
                <label class="label_text">源系统：</label>
                <input class="input_text"  type='text' [(ngModel)]="params.src">
                <label class="label_text">目标系统：</label>
                <input class="input_text" type='text' [(ngModel)]="params.dest">
				<label class="label_text">开始时间：</label>
                <span class="input_text glyphicon glyphicon-calendar_a" style="line-height: 0;float: left;">
                    <input class="esb_calender" style="width:86%"
                            (valueChanged)="valueChanged($event)" 
                            [(ngModel)]="start_date" 
                            ngui-datetime-picker
                            date-format="YYYY-MM-DD HH:mm" readonly/>
                </span>
            <label class="label_text">结束时间：</label>
            <span class="input_text glyphicon glyphicon-calendar_a" style="line-height: 0;float: left;">
                    <input class="esb_calender" style="width:86%"
                            (valueChanged)="valueChanged($event)" 
                            [(ngModel)]="end_date" 
                            ngui-datetime-picker
                            date-format="YYYY-MM-DD HH:mm" readonly/>
                </span>
            <button class="btn btn-sm btn-default b_wra2" style="float: left; color: #fff; background-color: #eea236; border-color: #eea236;margin-left: 5%;" (click)="refreshData()">查询</button>
            </span>
            <span class="left_det" style="width: 100%;margin-left: 5%;">
                <p class="text_p3">服务编号：</p>
                <label class="text_label">{{svcInfo.svc_no}}</label>
                <p class="text_p3">服务ID：</p>
                <label class="text_label">{{svcInfo.svc_id}}</label>
                <p class="text_p3">项目名称：</p>
                <label class="text_label">{{svcInfo.project_name}}</label>
                <p class="text_p3">源协议：</p>
                <label class="text_label">{{svcInfo.src_protocol}}</label>
            </span>
            <span class="left_det" style="width: 100%;margin-left: 5%;">
                <p class="text_p3">源系统：</p>
                <label class="text_label">{{svcInfo.src_sys}}</label>
                <p class="text_p3">目标协议：</p>
                <label class="text_label">{{svcInfo.dest_protocol}}</label>
                <p class="text_p3">目标系统：</p>
                <label class="text_label">{{svcInfo.dest_sys}}</label>
            </span>
            <span class="left_det" style="width: 100%;margin-left: 5%;">
                <p class="text_p3">服务描述：</p>
                <label class="text_label" style="width:80%">{{svcInfo.svc_desc}}</label>
            </span>
            <span>
                
            </span>
            <datatable [tableConfig]='tableConfig' (sortEmit)="getSort($event)"></datatable>
            <esb-pagination [totalRows]="rowsCount" (outputPageNow)="getPageNow($event)" (outputPageTol)="getPageTol($event)"></esb-pagination>
        </div>
    </div>
</div>