<div class="left_d">
    <div class="btn_time" style="width:80%;margin: 0 auto;">
        <button class="btn btn-sm btn-default b_wra3" (click)="share()">分享</button>
    </div>
    <div class="center" id="service_control" style="margin-top:30px;width:80%;">
        <div class="div_block">
            <span>
            <p class="text_p">服务ID：</p>
            <label class="text">{{svcInfo.svc_id}}</label>
            <p class="text_p">服务编号：</p>
            <label class="text">{{svcInfo.svc_no}}</label>
        </span>
            <span>
            <p class="text_p">服务描述：</p>
            <label class="text">{{svcInfo.svc_desc}}</label>
            <p class="text_p">项目名称：</p>
            <label class="text">{{svcInfo.project_name}}</label>
        </span>
            <span>
            <p class="text_p">源协议：</p>
            <label class="text">{{svcInfo.src_protocol}}</label>
            <p class="text_p">源系统：</p>
            <label class="text">{{svcInfo.src_sys}}</label>
        </span>
            <span>
            <p class="text_p">目标协议：</p>
            <label class="text">{{svcInfo.dest_protocol}}</label>
            <p class="text_p">目标系统：</p>
            <label class="text">{{svcInfo.dest_sys}}</label>
        </span>
            <span>
                <p class="tit_p">交易日志详细记录</p>
    </span>
        </div>
        <datatable [tableConfig]='tableConfig' (selectedItems)="getSelectedItems($event)"></datatable>
        <!--<esb-pagination [totalRows]="rowsCount" (outputPageNow)="getPageNow($event)" (outputPageTol)="getPageTol($event)"></esb-pagination>-->
    </div>
</div>