#tab {
    text-align: center;
    border-bottom: 1px solid #c0c0c0;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    margin-bottom: 0;
    overflow: hidden;
    min-width: 1013px;
}

#tab tr td {
    border: 0;
}

#tab tr td input {
    float: left;
    margin-left: 3%;
}

#tab tr td .chec {
    width: 85%;
}

#tab tr td .sele {
    width: 100%;
    height: 110%;
}

#tab tr:nth-child(even) {
    background: #f1f8ff;
}

#tab .quer td:not(:first-child) input {
    margin-left: 0;
    width: 100%;
}

#tab tr th {
    background: url("http://support.ekingwin.com/basi/img/tab_th.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    /*background-size属性支持IE8*/
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='http://support.ekingwin.com/basi/img/tab_th.png', sizingMethod='scale');
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/operation.png") no-repeat center;
    margin: 0 3em;
}

nav {
    border-bottom: 1px solid #c0c0c0;
}

nav .page {
    margin: 5px 10px auto 10px;
    overflow: hidden;
    min-width: 803px;
}

div nav .page li a {
    font-size: 12px;
    margin-left: 5px;
    font-size: 14px;
    color: #000000;
    float: none;
    padding: 4px 7px;
}

.pagination>li:first-child>a {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

nav .pagination>li:last-child>a {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

nav .pagination li .select {
    display: inline;
    margin-left: 25px;
}

nav .pagination li .select select {
    margin: 0 5px;
}

nav .pagination li .page1 {
    width: 35px;
    margin-left: 20px;
}

nav .pagination li .total {
    display: inline;
    margin-left: 20px;
}

.pageTol {
    display: inline-block;
    width: 35px;
    height: 25px;
    margin: 0 5px;
    padding: 0;
    text-align: center;
}